@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tenor Sans'), local('TenorSans'), url("fonts/tenor-sans.woff") format('woff');
}
@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local('Sonsie One'), local('SonsieOne-Regular'), url("fonts/sonsie-one.woff") format('woff');
}
@font-face {
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  src: local('Marko One'), local('MarkoOne'), url("fonts/marko-one.woff") format('woff');
}
