#title {
  float: right;
}
#definition {
  display: none;
}
#main div.navigator a {
  text-decoration: none;
}
#main div.navigator ul {
  list-style: none;
}
#following {
  float: left;
}
#following li {
  text-align: left;
}
#following li:before {
  content: "« ";
}
#followers {
  float: right;
}
#followers li {
  text-align: right;
}
#followers li:after {
  content: " »";
}
#main > article > p img {
  display: block;
  margin: 0 auto;
}
#main > article > ul,
#main > article > ol {
  margin-top: 0;
  margin-bottom: 28px;
}
#main > article > aside > p {
  margin-bottom: 0;
}
#main > article > blockquote {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
#main > article {
  clear: both;
}
hr.mark {
  clear: both;
  background: none;
  border: none;
}
@media only screen and (min-width: 768px) {
  #main > article {
    width: auto;
    float: auto;
  }
  #main > article > p,
  #main > article > blockquote,
  #main > article > ul,
  #main > article > ol,
  #main > article > h1,
  #main > article > h2,
  #main > article > h3,
  #main > article > h4,
  #main > article > h5,
  #main > article > h6 {
    display: inline-block;
    float: left;
    width: 57%;
  }
  #main > article > aside {
    float: right;
    width: 28%;
  }
}
