// -----------------------------------------------------------------------------
// Smaller header

#title
	float right

#definition
	display none


// -----------------------------------------------------------------------------
// Article navigators.

#main div.navigator
	a
		text-decoration none
	ul
		list-style none

#following
	float left
	li
		text-align left
		&:before
			content "« "
#followers
	float right
	li
		text-align right
		&:after
			content " »"

#main > article > p
	img
		display block
		margin 0 auto

#main > article > ul, #main > article > ol
	margin-top 0
	margin-bottom 28px

#main > article > aside > p
	margin-bottom 0

#main > article > blockquote
	font-style italic
	margin-top 0
	margin-bottom 0

// -----------------------------------------------------------------------------
// Note layout.

#main > article
	clear both

// Place above the paragraph where you want the notes to float.
hr.mark
	clear both
	background none
	border none


// Float the notes right when the screen is large enough.
@media only screen and (min-width: 768px) {
	#main > article {
		width: auto;
		float: auto;
	}


	#main > article > p,
	#main > article > blockquote,
	#main > article > ul,
	#main > article > ol,
	#main > article > h1,
	#main > article > h2,
	#main > article > h3,
	#main > article > h4,
	#main > article > h5,
	#main > article > h6 {
		display: inline-block;
		float: left;
		width: 57%;
	}

	#main > article > aside {
		float: right;
		width: 28%;
	}

}


// -----------------------------------------------------------------------------
// Note appearance. TODO

