/* Many thanks to Jonathan Verrecchia & initializr's template.
 * http://verekia.com/initializr/responsive-template */
@import fonts
@import theme


// -----------------------------------------------------------------------------
// The basic rules.

body
	font 16px/28px boring

p
	line-height 28px
	margin-bottom 28px
	margin-top 0

.wrapper
	width: 90%
	margin: 0 5%


// -----------------------------------------------------------------------------
// Pseudo elements.

::selection, ::-moz-selection
	background main_pale
	color white
	text-shadow none


// -----------------------------------------------------------------------------
// The site header.

#header-container
	background main
	text-align center

#title
	font-family uncomfortable
	font-weight normal
	a
		text-decoration none
		color white
		&visited, &active, &hover
			color white

#definition
	color main_light
	display inline-block
	text-align left
	.pronunciation
		color main_dark
		font-family boring
		padding-left 1em
	.origin
		padding-left: 1em
	ol
		margin-top 0
	li
		color white


// -----------------------------------------------------------------------------
// The actual content.

#main-container
	color: black

#main
	article
		margin-bottom aside_spread
	a
		text-decoration underline
		color main
		&:active
			color main_light
		&:visited
			color main_dark
		&:hover
			color main
			text-decoration none

// Tag-page overrides.
#main.tag-page
	h2
		height 1.5em
		color black
		.tag
			color complement
	td
		padding 0 1em
	.date
		font-size: .8
		opacity: .4
		left: 1em


// -----------------------------------------------------------------------------
// The asides.

aside_spread = 2em

#aside-container aside
	color white
	background main
	font-family exciting
	a
		color main_pale
		text-decoration none
		&:active
			color complement_pale
		&:visited
			color complement_light
		&:hover
			color complement


// -----------------------------------------------------------------------------
// The site footer.

#footer-container footer
	overflow auto
	a
		color main_pale
		opacity .4
		float right
		text-decoration none
		&:visited
			color main_dark
		&:active
			color complement
		&:hover
			opacity 1


// -----------------------------------------------------------------------------
// The (responsive) site layout.

// The default layout, always applied.
#main
	padding 30px 0

#main > article h1
	font-size 2em

#aside-container aside, #main aside
	padding 20px 5%
	margin-bottom aside_spread
	overflow auto
	ul
		list-style none
		margin 0
		padding 0

#aside-container aside
	padding-top 0

#footer-container footer
	padding 20px 0

#definition
	display none

// Mobile-only layouts go here.
@media only screen and (min-width: 480px) {
}

// Medium-sized layouts.
@media only screen and (min-width: 768px) {
	#definition {
		display: inline-block;
	}
	#main > article {
		float: left;
		width: 57%;
	}

	#aside-container {
		float: right;
		width: 28%;
	}
}

// Large layouts.
@media only screen and (min-width: 1140px) {
	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

@import helpers
