/* Many thanks to Jonathan Verrecchia & initializr's template.
 * http://verekia.com/initializr/responsive-template */


// -----------------------------------------------------------------------------
// Color scheme. Currently: Complementary teal.

main = #009999
light = #33CCCC
lighter = #5CCCCC
dark = #1D7373
darker = #006363

complement = #FF7400
compledark = #BF7130
compledarker = #A64B00
complelight = #FF9640
complelighter = #FFB273


// -----------------------------------------------------------------------------
// Custom font faces. Thanks, Google font librar!

@font-face
	font-family 'Sonsie One'
	font-style normal
	font-weight 400
	src local('Sonsie One'), local('SonsieOne-Regular'),
		url('fonts/sonsie-one.woff') format('woff')

@font-face
	font-family 'Marko One'
	font-style normal
	font-weight 400
	src local('Marko One'), local('Marko One'),
		url('fonts/marko-one.woff') format('woff')

// The font families
normalsize = '16px/24px'
uncomfortable = 'Sonsie One', serif
exciting = 'Marko One', serif
boring = Helvetica, Helvetica Neue, Arial, sans-serif



// -----------------------------------------------------------------------------
// The basic rules.

body
	font: normalsize boring

.wrapper
	width: 90%
	margin: 0 5%


// -----------------------------------------------------------------------------
// Pseudo elements.

::selection, ::-moz-selection
	background main
	color white
	text-shadow none


// -----------------------------------------------------------------------------
// The site header.

#header-container
	background main
	text-align center

#title
	font-family uncomfortable
	font-weight normal
	a
		text-decoration none
		color white
		&visited, &active, &hover
			color white

#definition
	color light
	display inline-block
	text-align left
	.pronunciation
		color darker
		font-family boring
		padding-left 1em


// -----------------------------------------------------------------------------
// The actual content.

#main-container
	color: black

#main
	article
		margin-bottom aside_spread
	a
		text-decoration none
		color main
		&:active
			color light
		&:visited
			color compledark
		&:hover
			color complelight
			text-decoration underline

// Tag-page overrides.
#main.tag-page
	h2
		height 1.5em
		color black
		.tag
			color complement
	td
		padding 0 1em
	.date
		font-size: .8
		opacity: .4
		left: 1em


// -----------------------------------------------------------------------------
// The asides.

aside_spread = 2em

#aside-container aside
	color white
	background main
	font-family "Marko One"
	margin-bottom aside_spread
	overflow auto
	a
		color lighter
		text-decoration none
		&:active
			color complelight
		&:visited
			color complement
		&:hover
			color complelight
	ul
		list-style none
		margin 0
		padding 0


// -----------------------------------------------------------------------------
// The site footer.

#footer-container footer
	overflow auto
	a
		color lighter
		opacity .4
		float right
		text-decoration none
		&:visited
			color darker
		&:active
			color complement
		&:hover
			opacity 1


// -----------------------------------------------------------------------------
// The (responsive) site layout.

// The default layout, always applied.
#main
	padding 30px 0

#main > article h1
	font-size 2em

#aside-container aside
	padding 0px 5% 20px

#footer-container footer
	padding 20px 0

// Mobile-only layouts go here.
@media only screen and (min-width: 480px) {
}

// Medium-sized layouts.
@media only screen and (min-width: 768px) {
	#main > article {
		float: left;
		width: 57%;
	}

	#aside-container {
		float: right;
		width: 28%;
	}
}

// Large layouts.
@media only screen and (min-width: 1140px) {
	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

@import helpers
